@page
@model recipe_web.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>Recipes</h2>
</div>

<div class="search-container">
    <form method="get" class="search-form">
        <input type="text" name="SearchQuery" value="@Model.SearchQuery" placeholder="Search recipes..." class="search-input" />
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

@if (Model.Recipes != null && Model.Recipes.Count > 0)
{
    <div class="recipe-list">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="recipe-item">
                <p id="title">@recipe.GetTitle()</p>

                @if (recipe.GetRecipePic() != null)
                {
                    <div class="recipe-pic-container">
                        <img src="data:@recipe.GetRecipePic().GetContentType();base64,@Convert.ToBase64String(Convert.FromBase64String(@recipe.GetRecipePic().GetData()))" alt="@recipe.GetTitle() Picture" class="recipe-pic" />
                    </div>
                }
                else
                {
                    <div class="recipe-pic-container">
                        <img src="~/images/missingimage.jpg" alt="Missing Image" class="recipe-pic" />
                    </div>
                }

                <p>@recipe.GetDescription()</p>
                <a href="@Url.Page("/RecipeDetails", new { id = recipe.GetIdRecipe() })" class="button">View Recipe</a>
            </div>
        }
    </div>

    <div class="pagination">
        @if (Model.PageNumber > 1)
        {
            <a asp-page="./Recipes" asp-route-PageNumber="@(Model.PageNumber - 1)" asp-route-SearchQuery="@Model.SearchQuery" class="pagination-button">Previous</a>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageNumber || (i <= 2 || i >= Model.TotalPages - 1) || (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1))
            {
                <a asp-page="./Recipes" asp-route-PageNumber="@i" asp-route-SearchQuery="@Model.SearchQuery" class="pagination-button @(i == Model.PageNumber ? "active" : "")">@i</a>
            }
            else if (i == 3 && Model.PageNumber > 4)
            {
                <span class="pagination-ellipsis">...</span>
            }
            else if (i == Model.TotalPages - 2 && Model.PageNumber < Model.TotalPages - 3)
            {
                <span class="pagination-ellipsis">...</span>
            }
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <a asp-page="./Recipes" asp-route-PageNumber="@(Model.PageNumber + 1)" asp-route-SearchQuery="@Model.SearchQuery" class="pagination-button">Next</a>
        }
    </div>
}
else
{
    <p class="empty-list-message">No recipes available.</p>
}