@page
@model recipe_web.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>Recipes</h2>
</div>

<form method="get" class="search-form">
    <input type="text" name="SearchQuery" value="@Model.SearchQuery" placeholder="Search recipes..." class="search-input" />
    <button type="submit" class="search-button">Search</button>
</form>

@if (Model.Recipes != null && Model.Recipes.Count > 0)
{
    <div class="recipe-list">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="recipe-item">
                <p id="title">@recipe.GetTitle()</p>
                @if (recipe.GetRecipePic() != null)
                {
                    <div class="recipe-pic-container">
                        <img src="data:@recipe.GetRecipePic().GetContentType();base64,@Convert.ToBase64String(Convert.FromBase64String(@recipe.GetRecipePic().GetData()))" alt="@recipe.GetTitle() Picture" class="recipe-pic" />
                    </div>
                }
                <p>@recipe.GetDescription()</p>
                <a href="@Url.Page("/RecipeDetails", new { id = recipe.GetIdRecipe() })" class="button">View Recipe</a>
            </div>
        }
    </div>

    <div class="pagination">
        @if (Model.PageNumber > 1)
        {
            <a asp-page="./Recipes" asp-route-PageNumber="@(Model.PageNumber - 1)" asp-route-SearchQuery="@Model.SearchQuery" class="pagination-button">Previous</a>
        }
        @if (Model.PageNumber < Model.TotalPages)
        {
            <a asp-page="./Recipes" asp-route-PageNumber="@(Model.PageNumber + 1)" asp-route-SearchQuery="@Model.SearchQuery" class="pagination-button">Next</a>
        }
    </div>
}
else
{
    <p>No recipes available.</p>
}

@section Styles {
    <style>
        #title {
            font-size: 25px;
            color: #2C3B70;
            font-weight: bold;
            padding: 2px 0;
        }

        .search-form {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .search-input {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            font-size: 16px;
        }

        .search-button {
            padding: 10px 20px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: #3D538F;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

            .search-button:hover {
                background-color: #2C3B70;
            }

        .recipe-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px;
        }

        .recipe-item {
            background-color: #F1F1F1;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .recipe-item h3 {
                margin-bottom: 10px;
                color: #333;
            }

        .recipe-pic-container {
            width: 100%;
            padding-top: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .recipe-pic {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .recipe-item p {
            color: #666;
            margin-bottom: 20px;
            padding: 0 10px;
            flex-grow: 1;
        }

        .button {
            display: inline-block;
            background-color: #3D538F;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
        }

            .button:hover {
                background-color: #2C3B70;
            }

        .pagination {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .pagination-button {
            background-color: #3D538F;
            color: white;
            padding: 10px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
        }

            .pagination-button:hover {
                background-color: #2C3B70;
            }
    </style>
}
